<div class="overlay"></div>
<div class="modal-dialog modal-md modal-dialog-centered" style="padding: 20px 10px;" role="document">
    <div class="modal-content">
        <div class="modal-header justify-content-between">
            <h5 class="modal-title fw-bold" id="ruleModalLabel">Rule Details</h5>
            <h6 style="color: #777" class="modal-title" id="ruleModalLabel">{{this.Ruleset?.name}}</h6>
            <button type="button" class="close" (click)="closeModal()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <!--Display Rule Screen-->
            <ng-container *ngIf="!isEdit">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div *ngFor="let rule of Rule?.rulePattern">
                                <div class="row">
                                    <div class="col-md-2">
                                        <p class="fs-5">{{ rule?.attrname }}</p>
                                    </div>
                                    <div class="col-md-1">
                                        <p [innerHTML]="OperatorsUnicode[rule.op]" class="fs-5"></p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="fs-5">{{ getSchemaDetailsByAttrName(rule?.attrname!)?.valtype == 'ts' ?  (rule?.attrval | date:'MMM dd, YYYY, h:mm:ss a') :  rule?.attrval }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="fs-20 mb-2">
                                <b>{{(Rule && Rule.ruleActions.tasks.length > 1) ? 'NextSteps' : 'NextStep'}}:</b>
                                <span class="badge bg-primary mx-2 fs-10"
                                    *ngFor="let task of Rule?.ruleActions?.tasks">{{
                                    task }}</span>
                            </div>
                            <div class="mt-4 fs-20">
                                <b>{{(Rule && Rule.ruleActions.properties.length > 1) ? 'NextStep Tags' :
                                    'NextStepTag'}}:</b>
                                <span class="badge bg-success mx-2 fs-10"
                                    *ngFor="let property of Rule?.ruleActions?.properties">
                                    {{property.name}} - {{
                                    property.val }}
                                </span>
                            </div>
                            <div class="fs-20 mt-4 d-flex">
                                <div *ngIf="Rule?.ruleActions?.thencall"> 
                                    <b>thenCall:</b>
                                    <span class="badge bg-primary mx-2 fs-10">{{ Rule?.ruleActions?.thencall
                                        }}</span>
                                </div>
                                <div *ngIf=" Rule?.ruleActions?.elsecall">
                                    <b>elseCall:</b>
                                    <span class="badge bg-primary mx-2 fs-10">{{
                                        Rule?.ruleActions?.elsecall }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <!-- Edit Rule Screen -->
            <ng-container *ngIf="isEdit">
                <div [formGroup]="RuleForm">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12" formArrayName="rulepattern">
                                <div *ngFor="let rule of rulepattern.controls,let i = index" [formGroupName]="i">
                                    <div class="row mb-2">
                                        <div class="col-md-2 col-sm-5">
                                            <select (change)="onAttrNameChangeHandler(i)"
                                                formControlName="attrname" class="form-control" id="{{i}}-attrName">
                                                <option disabled value="">
                                                    Select
                                                </option>
                                                <option *ngFor="let attrName of getAttributesNamesByIndex(i)" [value]="attrName">
                                                    {{attrName}}
                                                </option>
                                            </select>
                                            <div *ngIf="rulepattern.controls[i].get('attrname')?.touched"
                                                class="text-danger">
                                                <div
                                                    *ngIf="rulepattern.controls[i].get('attrname')?.hasError('required')">
                                                    <small>Name is required</small>
                                                </div>
                                                <div
                                                    *ngIf="rulepattern.controls[i].get('attrname')?.hasError('validationError')">
                                                    <small>Validation is required</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 col-sm-2">
                                            <select formControlName="op" class="form-control" id="{{i}}-op">
                                                <option disabled value="">
                                                    Select
                                                </option>
                                                <option *ngFor="let op of getOperatorsList(i)" [value]="op">
                                                    <p [innerHTML]="OperatorsUnicode[op]" class="fs-5"></p>
                                                </option>
                                            </select>
                                            <div *ngIf="rulepattern.controls[i].get('op')?.touched" class="text-danger">
                                                <div *ngIf="rulepattern.controls[i].get('op')?.hasError('required')">
                                                    <small>Required</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-5">
                                            <ng-container [ngSwitch]="getSchemaDetailsByIndex(i)?.valtype">
                                                <!-- Input for type Bool -->
                                                <ng-container *ngSwitchCase="'bool'">
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input" type="checkbox" role="switch"
                                                            id="{{i}}-attrval" formControlName="attrval">
                                                    </div>
                                                </ng-container>
                                                <!-- Input for type enum -->
                                                <ng-container *ngSwitchCase="'enum'">
                                                    <select formControlName="attrval" class="form-control"
                                                        id="{{i}}-attrval">
                                                        <option disabled value="">
                                                            Select
                                                        </option>
                                                        <option *ngFor="let val of getSchemaDetailsByIndex(i)?.vals"
                                                            [value]="val">
                                                            {{val}}
                                                        </option>
                                                    </select>
                                                </ng-container>
                                                <ng-container *ngSwitchCase="'ts'">
                                                    <p-calendar formControlName="attrval" [showIcon]="true" [showTime]="true" [showSeconds]="true" appendTo="body"></p-calendar>
                                                </ng-container>
                                                <!-- Input for rest of the type -->
                                                <ng-container *ngSwitchDefault>
                                                    <input
                                                        [type]="getSchemaDetailsByIndex(i)?.valtype == 'int' ? 'number' : 'text'"
                                                        class="form-control" id="{{i}}-attrval"
                                                        formControlName="attrval" placeholder="attrvalue" />
                                                </ng-container>
                                            </ng-container>
                                            <div *ngIf="rulepattern.controls[i].get('attrval')?.touched"
                                                class="text-danger">
                                                <div
                                                    *ngIf="rulepattern.controls[i].get('attrval')?.hasError('required')">
                                                    <small>Value is required</small>
                                                </div>
                                                <div
                                                    *ngIf="rulepattern.controls[i].get('attrval')?.hasError('ConstraintsError')">
                                                    <small>{{rulepattern.controls[i].get('attrval')?.errors!['message']
                                                        }}</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 col-sm-5">
                                            <button class="btn" (click)="removeRulePatternByIndex(i)">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button class="btn realm add-btn" (click)="addPatterns()">Add</button>
                            </div>
                        </div>
                        <hr>
                        <!--Edit NextStep-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="fs-20 mb-2">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <b class="m-2">{{RuleForm.get('tasks')?.value.length > 1 ? 'NextSteps:'
                                                : 'NextStep:'}}</b>
                                            <p-multiSelect [filter]="false" class="w-100" display="chip"
                                                [options]="SchemaData?.actionschema?.tasks" formControlName="tasks"
                                                placeholder="--Select next step--"></p-multiSelect>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="d-flex align-items-center">
                                                <b>Mark done: </b>
                                                <div style="display: inline-flex;" class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox"
                                                        formControlName="isDone"
                                                        (change)="markTaskDone()" role="switch"
                                                        id="isdone">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Edit NextStep Tags-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="fs-20 mb-2" formArrayName="properties">
                                    <b class="m-2">{{RuleForm.get('properties')?.value.length > 1 ? 'NextStep Tags:'
                                        : 'NextStep Tag:'}}</b>
                                    <div *ngFor="let property of properties.controls,let i = index"
                                        [formGroupName]="i">
                                        <div class="row mb-2">
                                            <div class="col-md-3 col-sm-5">
                                                <select (change)="propertyNameChangeHandler(i)" formControlName="name" class="form-control" id="{{i}}-name">
                                                    <option disabled value="">
                                                        Select
                                                    </option>
                                                    <option *ngFor="let propName of SchemaData?.actionschema?.properties"
                                                        [value]="propName">
                                                        {{propName}}
                                                    </option>
                                                </select>
                                                <div *ngIf="properties.controls[i].get('name')?.touched"
                                                    class="text-danger">
                                                    <div
                                                        *ngIf="properties.controls[i].get('name')?.hasError('required')">
                                                        <small>Name is required</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-5">
                                                <select formControlName="val" class="form-control" id="{{i}}-val">
                                                    <option disabled value="">
                                                        Select
                                                    </option>
                                                    <option *ngFor="let val of SchemaData?.actionschema?.tasks"
                                                        [value]="val">
                                                        {{val}}
                                                    </option>
                                                </select>
                                                <div *ngIf="properties.controls[i].get('val')?.touched"
                                                    class="text-danger">
                                                    <div
                                                        *ngIf="properties.controls[i].get('val')?.hasError('required')">
                                                        <small>Value is required</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-5">
                                                <button [disabled]="RuleForm.get('isDone')?.value" class="btn" (click)="removePropertiesByIndex(i)">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <button class="btn realm add-btn" [disabled]="RuleForm.get('isDone')?.value" (click)="addPropeties()">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <!--ThenCall and ElseCall-->
                        <div class="row mt-3">
                            <div class="col-md-4 d-flex">
                                <b class="m-2">thenCall: </b>
                                <select class="form-control" formControlName="thenCall">
                                    <option disabled value="">
                                        Select </option>
                                    <option *ngFor="let ruleset of workFlow" [disabled]="ruleset.name == Ruleset?.name"
                                        [value]="ruleset.name">{{ruleset.name}}</option>
                                </select>
                            </div>
                            <div class="col-md-4 d-flex">
                                <b class="m-2">elseCall: </b>
                                <select class="form-control" formControlName="elseCall">
                                    <option disabled value="">
                                        Select </option>
                                    <option *ngFor="let ruleset of workFlow" [disabled]="ruleset.name == Ruleset?.name"
                                        [value]="ruleset.name">{{ruleset.name}}</option>
                                </select>
                            </div>
                        </div>
                        <!--Return and Exit-->
                        <div class="row fs-20 mt-4">
                            <div class="col-md-2">
                                <div class="d-flex align-items-center">
                                    <b>Return: </b>
                                    <div style="display: inline-flex;" class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" formControlName="willReturn"
                                            role="switch" id="willReturn">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="d-flex align-items-center">
                                    <b>Exit: </b>
                                    <div style="display: inline-flex;" class="form-check form-switch">
                                        <input (change)="exitChangeHandler()" class="form-check-input" type="checkbox" formControlName="willExit"
                                            role="switch" id="willExit">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="modal-footer">
            <button class="btn p-1 mt-1 realm" (click)="isEdit = !isEdit" [hidden]="isEdit">Edit
                <i class="fa-regular fa-pen-to-square mt-2 mb-20"></i>
            </button>
            <button class="btn p-1 mt-1 realm" [disabled]="RuleForm.invalid" (click)="saveHandler()"
                [hidden]="!isEdit">Done
                <i class="fa-regular fa-pen-to-square mt-2 mb-20"></i>
            </button>
        </div>
    </div>
</div>