<div>
    <div class="row mt-2 child" [ngClass]="child5  ? 'hovered' : ''"
    (mouseenter)="child5 = true; parentHovered = false" (mouseleave)="child5 = false; parentHovered = true">
        <div class="col-6">
            <div class="row">
                <div class="col-2">
                    <h5 i18n="@@match">match</h5>
                </div>
                <div class="col-10 pad-0">
                    <div class="card px-2">
                        <span>cat == textbook , mrp > 5000 , amount == 5629 ...</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-2">
                    <h5 i18n="@@call">call</h5>
                </div>
                <div class="col-10 pad-0">
                    <h5> newmemberchk</h5>
                </div>
            </div>
        </div>
    </div>
</div>