<div class="card no-border">
    <div class="card-body">
        <div class="container">
            <div *ngFor="let rule of ruleDetails?.ruleset?.rules">
                <div *ngFor="let pattern of rule?.rulepattern">
                    <div class="row pattern-row">
                        <div class="col-md-4">
                            <p class="fs-5 fw-bold">{{ pattern?.attrname }}</p>
                        </div>
                        <div class="col-md-4">
                            <p [innerHTML]="OperatorsUnicode[pattern?.op]" class="fs-5"></p>
                        </div>
                        <div class="col-md-4">
                            <p class="fs-5">{{ pattern?.attrval }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="description fs-5">{{ pattern?.longdesc }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>