<div class="if-block" [ngClass]="parentHovered ? 'hovered' : ''" (mouseenter)="toggleParentHover(true)" (mouseleave)="toggleParentHover(false)">
    <div class="row mt-2">
        <div class="col-6">
            <div class="row">
                <div class="col-2">
                    <h5>if</h5>
                </div>
                <div class="col-10 pad-0">
                    <div class="card px-2">
                        <span>cat == textbook , mrp > 5000 , amount == 5629 ...</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-2">
                    <h5>then</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="child row mt-2" [ngClass]="child1 || parentHovered ? 'hovered' : ''"
        (mouseenter)="child1 = true; parentHovered = false" (mouseleave)="child1 = false; parentHovered = true">
        <div class="col-6">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-11 pad-0">
                    <div class="row">
                        <div class="col-2">
                            <h5>match</h5>
                        </div>
                        <div class="col-10">
                            <div class="card px-2">
                                <span>cat == textbook , mrp > 5000 ...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-11 pad-0">
                    <div class="row">
                        <div class="col-1">
                            <h5>do</h5>
                        </div>
                        <div class="col-11">
                            <div class="card px-2">
                                <div><b>NextStep: <span class="h6">christmassale... </span></b><b>NextStep Tag:
                                        <span class="h6">shipby-fedex</span></b></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="child row mt-2" [ngClass]="child2 || parentHovered ? 'hovered' : ''"
    (mouseenter)="child2 = true; parentHovered = false" (mouseleave)="child2 = false; parentHovered = true">
        <div class="col-6">
            <div class="row">
                <div class="col-1">

                </div>
                <div class="col-11 pad-0">
                    <div class="row">
                        <div class="col-2">
                            <h5>match</h5>
                        </div>
                        <div class="col-10">
                            <div class="card px-2">
                                <span>cat == textbook , mrp > 5000 ...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-11 pad-0">
                    <div class="row">
                        <div class="col-1">
                            <h5>do</h5>
                        </div>
                        <div class="col-11">
                            <div class="card px-2">
                                <div><b>NextStep: <span class="h6">christmassale... </span></b><b>NextStep Tag:
                                        <span class="h6">shipby-fedex</span></b></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="child" [ngClass]="elseblock || parentHovered ? 'hovered' : ''"
    (mouseenter)="elseblock = true; parentHovered = false" (mouseleave)="elseblock = false; parentHovered = true">
    <div class="row mt-2">
        <div class="col-6">
            <div class="row">
                <div class="col-4">
                    <h5>else</h5>
                </div>

            </div>
        </div>
    </div>
    <div class="child" [ngClass]="nestedIf || parentHovered || elseblock ? 'hovered' : ''"
    (mouseenter)="nestedIf = true; parentHovered = false; elseblock = false" (mouseleave)="nestedIf = false; parentHovered = true">
    <div class="row mt-2">
        <div class="col-6">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-11 pad-0">
                    <div class="row">
                        <div class="col-2">
                            <h5>if</h5>
                        </div>
                        <div class="col-10">
                            <div class="card px-2">
                                <span>cat == textbook , mrp > 5000 ...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-11 pad-0">
                    <div class="row">
                        <div class="col-1">
                            <h5>then</h5>
                        </div>
                        <div class="col-11">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="child row mt-2" [ngClass]="child3 || parentHovered || elseblock || nestedIf ? 'hovered' : ''"
    (mouseenter)="child3 = true; parentHovered = false; elseblock=false; nestedIf=false" (mouseleave)="child3 = false; parentHovered = true">
        <div class="col-6">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-11 pad-0">
                    <div class="row">
                        <div class="col-1">
                        </div>
                        <div class="col-11">
                            <div class="row">
                                <div class="col-2">
                                    <h5>match</h5>
                                </div>
                                <div class="col-10">
                                    <div class="card px-2">
                                        <span>cat == textbook , mrp > 5000 ...</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-11 pad-0">
                    <div class="row">
                        <div class="col-1">
                        </div>
                        <div class="col-11">
                            <div class="row">
                                <div class="col-1">
                                    <h5>do</h5>
                                </div>
                                <div class="col-11">
                                    <div class="card px-2">
                                        <div><b>NextStep: <span class="h6">christmassale... </span></b><b>NextStep
                                                Tag: <span class="h6">shipby-fedex</span></b></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-6">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-11 pad-0">
                    <div class="row">
                        <div class="col-2">
                            <h5>endif</h5>
                        </div>
                        <div class="col-10">
                            <!-- <div class="card px-2">
                                <span>cat == textbook , mrp > 5000 ...</span>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--nested endif end-->
    <div class="child row mt-2" [ngClass]="child4 || parentHovered || elseblock ? 'hovered' : ''"
    (mouseenter)="child4 = true; parentHovered = false; elseblock=false" (mouseleave)="child4 = false; parentHovered = true">
        <div class="col-6">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-11 pad-0">
                    <div class="row">
                        <div class="col-2">
                            <h5>match</h5>
                        </div>
                        <div class="col-10">
                            <div class="card px-2">
                                <span>cat == textbook , mrp > 5000 ...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-11 pad-0">
                    <div class="row">
                        <div class="col-1">
                            <h5>do</h5>
                        </div>
                        <div class="col-11">
                            <div class="card px-2">
                                <div><b>NextStep: <span class="h6">christmassale... </span></b><b>NextStep Tag:
                                        <span class="h6">shipby-fedex</span></b></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--else end-->
    <div class="row mt-2">
        <div class="col-6">
            <div class="row">
                <div class="col-4">
                    <h5>endif</h5>
                </div>
            </div>
        </div>
    </div>
</div>
