<ng-container *ngIf="Rule?.thenRuleset && Rule?.elseRuleset">
    <div class="if-block" [ngClass]="parentHovered ? 'hovered' : ''" (mouseenter)="toggleParentHover(true)" (mouseleave)="toggleParentHover(false)">
        <div class="row mt-2">
            <div class="col-6">
                <div class="row">
                    <div class="col-2">
                        <h5 i18n="@@if">if</h5>
                    </div>
                    <div class="col-10 pad-0">
                        <div class="card px-2" [ngClass]="parentHovered ? 'hovered' : ''" (mouseenter)="toggleParentHover(true)" (mouseleave)="toggleParentHover(false)">
                            <span>
                                <span *ngFor="let pattern of getMatchList(Rule?.rulePattern!), let isLast = last" >
                                    {{ pattern.attrname }} <span [innerHTML]="OperatorsUnicode[pattern.op]" class="fs-5"></span> {{ pattern.attrval }} {{isLast ? '...' : ','}}
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-2">
                        <h5 i18n="@@then">then</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="then-child indent-3" [ngClass]="child1 || parentHovered ? 'hovered' : ''"
        (mouseenter)="child1 = true; parentHovered = false" (mouseleave)="child1 = false; parentHovered = true">
            <ng-container *ngFor="let Rule of Rule?.thenRuleset">
                <app-rule-method2 [Rule]="Rule"></app-rule-method2>
            </ng-container>
        </div>
        <div class="else-block" [ngClass]="child2 || parentHovered ? 'hovered' : ''"
        (mouseenter)="child2 = true; parentHovered = false" (mouseleave)="child2 = false; parentHovered = true">
            <div class="row">
                <div class="col-2">
                    <h5 i18n="@@else">else</h5>
                </div>
            </div>
            <div class="else-child indent-3"  [ngClass]="child3 ||child2 || parentHovered ? 'hovered' : ''"
            (mouseenter)="child3 = true; child2 = false; parentHovered = false" (mouseleave)="child3 = false ;child2 = true; parentHovered = true">
                <ng-container *ngFor="let Rule of Rule?.elseRuleset">
                    <app-rule-method2 [Rule]="Rule"></app-rule-method2>
                </ng-container>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-6">
                <div class="row">
                    <div class="col-4">
                        <h5 i18n="@@endif">endif</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="Rule?.thenRuleset && !Rule?.elseRuleset">
    <div class="if-block" [ngClass]="parentHovered ? 'hovered' : ''" (mouseenter)="toggleParentHover(true)" (mouseleave)="toggleParentHover(false)">
        <div class="row mt-2">
            <div class="col-6">
                <div class="row">
                    <div class="col-2">
                        <h5 i18n="@@if">if</h5>
                    </div>
                    <div class="col-10 pad-0">
                        <div class="card px-2" [ngClass]="parentHovered ? 'hovered' : ''" (mouseenter)="toggleParentHover(true)" (mouseleave)="toggleParentHover(false)">
                            <span>
                                <span>
                                    <span *ngFor="let pattern of getMatchList(Rule?.rulePattern!), let isLast = last" >
                                        {{ pattern.attrname }} <span [innerHTML]="OperatorsUnicode[pattern.op]" class="fs-5"></span> {{ pattern.attrval }} {{isLast ? '...' : ','}}
                                    </span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-2">
                        <h5 i18n="@@then">then</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="then-child indent-3" [ngClass]="child1 || parentHovered ? 'hovered' : ''"
        (mouseenter)="child1 = true; parentHovered = false" (mouseleave)="child1 = false; parentHovered = true">
            <ng-container *ngFor="let Rule of Rule?.thenRuleset">
                <app-rule-method2 [Rule]="Rule"></app-rule-method2>
            </ng-container>
        </div>
        <div class="row mt-2">
            <div class="col-6">
                <div class="row">
                    <div class="col-4">
                        <h5 i18n="@@endif">endif</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="!Rule?.thenRuleset && Rule?.elseRuleset">
    <div class="if-block" [ngClass]="parentHovered ? 'hovered' : ''" (mouseenter)="toggleParentHover(true)" (mouseleave)="toggleParentHover(false)">
        <div class="row mt-2">
            <div class="col-6">
                <div class="row">
                    <div class="col-2">
                        <h5 i18n="@@ifnot">if not</h5>
                    </div>
                    <div class="col-10 pad-0">
                        <div class="card px-2" [ngClass]="parentHovered ? 'hovered' : ''" (mouseenter)="toggleParentHover(true)" (mouseleave)="toggleParentHover(false)">
                            <span>
                                <span>
                                    <span *ngFor="let pattern of getMatchList(Rule?.rulePattern!), let isLast = last" >
                                        {{ pattern.attrname }} <span [innerHTML]="OperatorsUnicode[pattern.op]" class="fs-5"></span> {{ pattern.attrval }} {{isLast ? '...' : ','}}
                                    </span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-2">
                        <h5 i18n="@@then">then</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="else-block" [ngClass]="child1 || parentHovered ? 'hovered' : ''"
        (mouseenter)="child1 = true; parentHovered = false" (mouseleave)="child1 = false; parentHovered = true">
            <div class="else-child indent-3">
                <ng-container *ngFor="let Rule of Rule?.elseRuleset">
                    <app-rule-method2 [Rule]="Rule"></app-rule-method2>
                </ng-container>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-6">
                <div class="row">
                    <div class="col-4">
                        <h5 i18n="@@endif">endif</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="!Rule?.thenRuleset && !Rule?.elseRuleset">
    <app-rule-method1 [Rule]="Rule"></app-rule-method1>
</ng-container>
