<div class="row mt-2 child" [ngClass]="childHovered  ? 'hovered' : ''" (mouseenter)="childHovered = true"
    (mouseleave)="childHovered = false" (click)="openRuleModal()">
    <div class="col-md-6 col-sm-12">
        <div class="row">
            <div class="col-2">
                <h5 i18n="@@match">match</h5>
            </div>
            <div class="col-10">
                <div class="card px-2 pointer" [ngClass]="childHovered ? 'hovered': ''" (mouseenter)="childHovered = true"
                    (mouseleave)="childHovered = false">
                    <span>
                        <span *ngFor="let pattern of getMatchList(Rule?.rulePattern!), let isLast = last">
                            {{ pattern.attrname }} <span [innerHTML]="OperatorsUnicode[pattern.op]" class="fs-5"></span>
                            {{ pattern.attrval }} {{isLast ? '...' : ','}}
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="row">
            <div class="col-1">
                <h5 i18n="@@do">do</h5>
            </div>
            <div class="col-11 ">
                <div class="card px-2 pointer" [ngClass]="childHovered ? 'hovered': ''" (mouseenter)="childHovered = true"
                    (mouseleave)="childHovered = false">
                    <div>
                        <b>{{Rule && Rule.ruleActions.tasks.length > 1 ? 'NextSteps' : 'NextStep'}}:</b>
                        <span class="h6"> {{Rule && Rule.ruleActions.tasks[0]}}...</span>&nbsp;
                        <span>
                            <b>{{Rule && Rule.ruleActions.tasks.length > 1 ? 'NextStep Tags' : 'NextStep Tag'}}:</b>
                            <span *ngFor="let property of Rule?.ruleActions?.properties?.slice(0, 1)">
                                <span *ngFor="let prop of property | keyvalue" class="h6"> {{ prop.key }} - {{
                                    prop.value }}...</span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>