<div class="container mt-2">
    <div class="row">
        <div class="col-8">
            <div class="d-flex flex-column flex-md-row">
                <div class="col-3">
                    <label class="fs-20 fw-600 ml-3">Application</label>
                </div>
                <div class="col-3">
                    <ng-select class="dropdown" (change)="getSliceList()" id="app" [(ngModel)]="selectedData.app"
                    placeholder="--Select App--">
                    <ng-option *ngFor="let app of appList" [value]="app.value">{{app.discription}}</ng-option>
                </ng-select>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-8">
            <div  *ngIf="sliceList" class="d-flex flex-column flex-md-row">
                <div class="col-3">
                    <label class="fs-20 fw-600 ml-3">Slice</label>
                </div>
                <div class="col-3 ml-3">
                    <ng-select class="dropdown" (change)="getClassList()" id="slice" [(ngModel)]="selectedData.slice" placeholder="--Select Slice--">
                        <ng-option *ngFor="let slice of sliceList" [value]="slice">{{slice}}</ng-option>
                    </ng-select>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-8">
            <div *ngIf="classList" class="d-flex flex-column flex-md-row">
                <div class="col-3">
                    <label class="fs-20 fw-600 ml-3">Workflow Process</label>
                </div>
                <div class="col-3">
                    <ng-select (change)="getSchemaDetails()" class="dropdown" [(ngModel)]="selectedData.class" id="class" placeholder="--Select Class--">
                        <ng-option *ngFor="let class of classList" [value]="class">{{class}}</ng-option>
                    </ng-select>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <app-tabslist *ngIf="schemaData" [schemaData]="schemaData"></app-tabslist>
    </div>
</div>