<div class="container mt-2">
    <div class="row">
        <div class="col-12">
            <div class="d-flex">
                <label class="fs-20 fw-600 me-2">Select App:</label>
                <ng-select (change)="getSliceList()" id="app" [(ngModel)]="selectedData.app"
                    placeholder="--Select App--" style="width: 250px;">
                    <ng-option *ngFor="let app of appList" [value]="app">{{app}}</ng-option>
                </ng-select>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <div  *ngIf="sliceList" class="d-flex sliceName">
                <label class="fs-20 fw-600 me-2">Select Slice:</label>
                <ng-select (change)="getClassList()" id="slice" [(ngModel)]="selectedData.slice" placeholder="--Select Slice--" style="width: 250px;">
                    <ng-option *ngFor="let slice of sliceList" [value]="slice">{{slice}}</ng-option>
                </ng-select>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <div *ngIf="classList" class="d-flex className">
                <label class="fs-20 fw-600 me-2">Select Class:</label>
                <ng-select [(ngModel)]="selectedData.class" id="class" placeholder="--Select Class--"
                style="width: 250px;">
                    <ng-option *ngFor="let class of classList" [value]="class">{{class}}</ng-option>
                </ng-select>
            </div>
        </div>
    </div>
</div>