<!-- Tabs Panel -->
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active fw-600 fs-20" id="schema-tab" data-bs-toggle="tab" data-bs-target="#schema"
      type="button" role="tab" aria-controls="schema" aria-selected="true">Schema</button>
    <button #workflowsTab class="nav-link fw-600 fs-20" id="rulesets-tab" data-bs-toggle="tab"
      data-bs-target="#rulesets" type="button" role="tab" aria-controls="rulesets"
      aria-selected="true">Workflows</button>
    <!-- Dynamic Tabs for rulesets detail -->
    <ng-container *ngFor="let t of tabs">
      <button #dynamicTab class="nav-link fw-600 fs-20" id="{{t.tab.name}}-tab" data-bs-toggle="tab"
        attr.data-bs-target="#{{t.tab.name}}" type="button" role="tab" attr.aria-controls="{{t.tab.name}}"
        aria-selected="true">{{t.tab.name}}<span class="btn-close ms-3" (click)="close($event, t)"></span></button>
    </ng-container>
  </div>
</nav>

<!-- Tabs content -->
<div class="tab-content mt-4" id="nav-tabContent">
  <!-- Schema Tab content -->
  <div class="tab-pane fade show active" id="schema" role="tabpanel" aria-labelledby="schema-tab">
    <div class="container">
      <!-- First Section: patternschema attributes -->
      <div class="row">
        <div class="col-12 mb-4" *ngFor="let patternschema of schemaData?.patternschema?.attr">
          <div class="row align-item-center">
            <div class="col-6 fs-30 mb-2 text-color">
              <b>{{ patternschema?.name }}</b>
            </div>
            <div class="col-6 fs-20 text-color">
              <p>{{ patternschema.valtype }}</p>
            </div>
            <span style="margin-top: -10px;">
              <small class="description">{{ patternschema.longdesc}}</small>
            </span>
            <div class="col-6 text-color">
              <span class="badge bg-primary mx-2 fs-10" *ngFor="let vals of patternschema.vals">{{ vals }}</span>
            </div>
            <span>
              <small class="constraint-value text-color">{{ getConstraints(patternschema) }}</small>
            </span>
          </div>
        </div>
      </div>
      <hr class="text-color">
      <!-- Second Section: Actionschema details -->
      <div class="row">
        <div class=" fs-20 mb-2 text-color">
          <b>Tasks:</b>
          <span class="badge bg-primary mx-2 fs-10" *ngFor="let task of schemaData?.actionschema.tasks">{{ task
            }}</span>
        </div>
        <div class=" mt-2 fs-20 text-color">
          <b>Properties:</b>
          <span class="badge bg-success mx-2 fs-10" *ngFor="let property of schemaData?.actionschema.properties">{{
            property }}</span>
        </div>
      </div>
      <hr class="text-color">
      <!--MetaData fields-->
      <div class="row">
        <div class="col-md-6">
          <div class="d-flex align-items-center">
            <p class="meta-data me-2">Created at:</p>
            <p class="text-color">{{ schemaData?.createdat | date }}</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="d-flex align-items-center">
            <p class="meta-data me-2">Created by:</p>
            <p class="text-color">{{ schemaData?.createdby }}</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="d-flex align-items-center">
            <p class="meta-data me-2">Edited at:</p>
            <p class="text-color">{{ schemaData?.editedat | date }}</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="d-flex align-items-center">
            <p class="meta-data me-2">Edited by:</p>
            <p class="text-color">{{ schemaData?.editedby }}</p>
          </div>
        </div>
      </div>      
    </div>
  </div>
  <!-- Rulesets Tab content -->
  <div class="tab-pane fade show" id="rulesets" role="tabpanel" aria-labelledby="rulesets-tab">
    <div class="container">
      <div *ngFor="let workflow of WorksFlows, index as i">
        <app-workflow id="{{i}}" [workflow]="workflow"
          (openDetail)="getRuledetailAndOpeninNewTab($event)"></app-workflow>
      </div>
    </div>
  </div>

  <!-- Dynamic tab contents -->
  <ng-container *ngFor="let t of tabs">
    <div class="tab-pane fade show" id="{{t.tab.name}}" role="tabpanel" aria-labelledby="rulesets-tab">
      <app-workflow-detail [ruleDetails]="t.content">
      </app-workflow-detail>
    </div>
  </ng-container>
</div>
