<div class="overlay"></div>
<div class="modal-dialog modal-md modal-dialog-centered" style="padding: 20px 10px;" role="document">
    <div class="modal-content">
        <div class="modal-header justify-content-between">
            <h5 class="modal-title fw-bold" id="ruleModalLabel" i18n="@@TryModal">Try Modal</h5>
            <button type="button" class="close" (click)="onClose()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="max-height: none; overflow: hidden; overflow-y: auto;">
            <div class="container mt-2">
                <!-- <div class="row">
                    <div class="col-8">
                        <div class="d-flex flex-column flex-md-row">
                            <div class="col-3">
                                <label i18n="@@App" class="fs-20 fw-600 ml-3 text-color">Application</label>
                            </div>
                            <div class="col-3">
                                <ng-select class="dropdown" id="app" i18n-placeholder="@@placeholderApp"
                                    placeholder="--Select App--">
                                    ng option here
                                </ng-select>
                                <h4>{{tryData?.app}}</h4>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="row mt-2">
                    <div class="col-8">
                        <div class="d-flex flex-column flex-md-row">
                            <div class="col-3">
                                <label i18n="@@Slice" class="fs-20 fw-600 ml-3 text-color">Slice</label>
                            </div>
                            <div class="col-5 ml-3">
                                <ng-select class="dropdown" id="slice" i18n-placeholder="@@placeholderSlice"
                                    placeholder="--Select Slice--">
                                    ng option here
                                </ng-select>
                                <h4>{{tryData?.realm}}</h4>
                            </div>
                            <div class="col-md-2">
                                <div class="d-flex align-items-center">
                                    <b>Stepfailed: </b>
                                    <div style="display: inline-flex;" class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="row mt-2">
                    <div class="col-8">
                        <div class="d-flex flex-column flex-md-row">
                            <div class="col-3">
                                <label i18n="@@WorkflowProcess" class="fs-20 fw-600 ml-3 text-color">Workflow</label>
                            </div>
                            <div class="col-3">
                                <ng-select class="dropdown" id="class" i18n-placeholder="@@placeholderWorkflow"
                                    placeholder="--Select Class--">
                                    ng option here
                                </ng-select>
                                <h4>{{tryData?.entryRulesetName}}</h4>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-8">
                        <div class="d-flex flex-column flex-md-row">
                            <div class="col-3">
                                <label i18n="@@App" class="fs-20 fw-600 ml-3 text-color">Trace Level</label>
                            </div>
                            <div class="col-3">
                                <ng-select class="dropdown" id="tace" i18n-placeholder="@@placeholderApp" [(ngModel)]="selectedTrace"
                                    placeholder="--Select App--" [items]="tracelevel" bindLabel="value" bindValue="value" (change)="resetInstance()">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-4 d-flex justify-content-left">
                    <div class="m-2">
                        <a class="click m-4 fs-20" type="reset" (click)="tryInstance()" i18n="@@startTry">Start</a>
                        <!-- <a class="click" type="reset" (click)="resetInstance()">Reset</a> -->
                    </div>
                </div>

                <ng-container *ngIf="tryData != undefined">
                    <div class="canvas-container">
                        <app-canvas [Height]="50" [Width]="50" [traceData]="tryData.tracedata"></app-canvas>
                        <div class="legend">
                            <div class="legend-items">
                                <div class="legend-item green">
                                    <div class="color-box green"></div><span
                                        class="legend-text" i18n="@@Matched">{{constants.MATCHED}}</span>
                                </div>
                                <div class="legend-item red">
                                    <div class="color-box red"></div><span
                                        class="legend-text" i18n="@@DidNotMatch">{{constants.DID_NOT_MATCH}}</span>
                                </div>
                                <div class="legend-item blue">
                                    <div class="color-box blue"></div><span
                                        class="legend-text" i18n="@@MatchedWithThenCall">{{constants.MATCHED_WITH_THENCALL}}</span>
                                </div>
                                <div class="legend-item yellow">
                                    <div class="color-box yellow"></div><span
                                        class="legend-text" i18n="@@DidNotMatchWithElseCall">{{constants.DID_NOT_MATCH_WITH_ELSECALL}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>