<div class="row mt-2 child" [ngClass]="childHovered  ? 'hovered' : ''"
    (mouseenter)="childHovered = true; parentHovered = false" (mouseleave)="childHovered = false; parentHovered = true">
    <div class="col-md-6 col-sm-12">
        <div class="row">
            <div class="col-2">
                <h5>match</h5>
            </div>
            <div class="col-10">
                <span *ngFor="let pattern of getMatchList(Rule?.rulePattern!), let isLast = last">
                    {{ pattern.attrname }} <span [innerHTML]="OperatorsUnicode[pattern.op]" class="fs-5"></span> {{
                    pattern.attrval }} {{isLast ? '...' : ','}}
                </span>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="row">
            <div class="col-1">
                <h5>do</h5>
            </div>
            <div class="col-11 ">
                <div class="card px-2">
                    <div>
                        <b>{{Rule && Rule.ruleActions.tasks.length > 1 ? 'NextSteps' : 'NextStep'}}: <span
                                class="h6">{{Rule && Rule.ruleActions.tasks[0]}}...</span>&nbsp;</b>
                        <span >
                            <b>NextStep Tags: <span *ngFor="let property of Rule?.ruleActions?.properties"> <span *ngFor="let prop of property | keyvalue" class="h6">{{prop.key}} - {{prop.value
                                    }}</span></span></b>
                            &nbsp;
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>